/* Custom CSS */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: #0f172a;
}
::-webkit-scrollbar-thumb {
  background-color: #374151;
  border-radius: 5px;
  border: 2px solid #0f172a;
}
.font-mono {
  font-family: "Fira Code", "Consolas", monospace;
}
#mobile-menu {
  will-change: transform;
}
